---
default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: debug-statements
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: fix-byte-order-marker

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.4
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ["--write-changes", "--skip=pdm.lock"]

  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: "1.7.1"
    hooks:
      - id: tox-ini-fmt

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.10.0"
    hooks:
      - id: pyproject-fmt
        additional_dependencies: ["tox>=4.14.1"]

  - repo: local
    hooks:
      - id: export-supported-packages-to-readme
        name: db_md
        entry: python scripts/db_md.py
        language: python
        verbose: true
        files: ^db\.py|README\.md$

  - rev: v0.15.0
    repo: https://github.com/astral-sh/ruff-pre-commit
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pdm-project/pdm
    rev: 2.26.6
    hooks:
      - id: pdm-lock-check
